@import 'fonts';
@import 'variables';
@import 'material';
@import 'functions';

*{ @include reset; }

body,html{ @include init; }

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

header{
	text-align: center;
	
	.logo{
		display: inline-block;
		margin-top: .35rem;
		position: relative;
	    width: 305px;
    	height: 457px;
    	@include transform(scale(.95));
		
		img{
			position: absolute;
		}
		
		.circle{
			right: 0;
			left: 24px;
			top: 60px;
			margin: auto;
		}
		
		.side-left,
		.side-right{
			top: 0;
		}
		
		.side-left{
			left: 0;
		}
		
		.ray{
			top: 0;
			left: 16px;
			right: 0;
			margin: auto;
		}
		
		.slogan{
			bottom: -12px;
			left: -19px;
		}
		
		.name{
			bottom: 48px;
			left: -50px;
		}
	}
}

nav{
	background: $blue_theme;
	padding: 1.5rem 0 2rem;
	overflow: auto;
	
	h4,
	span{
		color: white;
	}
	
	h4{
		display: inline;
		font-size: 20px;
	}
	
	.container_contact{
		float: right;
		cursor: pointer;
		
		&:hover{
			span{
				color: $darkblue_theme;
				background: white;
			}
			
			b{
				&:before{
					background: $blue_theme;
				}
				
				&:after{
					background: $darkblue_theme;
				}
				
				i{
					color: white;
				}
			}
		}
		
		b{
			display: inline-block;
			position: relative;
			padding: 6px 9px;
			z-index: 1;
			margin-top: .25rem;
    		
    		&:before{
    			background: #f3f3f3;
    			content: '';
    			width: 100%;
    			height: 100%;
    			position: absolute;
    			left: 0;
    			top: 0;
    			z-index: -1;
    			@include border-radius(3px);
    			@include transform(rotate(45deg));
    		}
    		
    		&:after{
    			background: #c7c7c7;
    			content: '';
    			width: 140%;
    			height: 140%;
    			position: absolute;
    			left: -20%;
    			top: -20%;
    			z-index: -2;
    			@include border-radius(5px);
    			@include box-shadow(0 0 28px #323232);
    			@include transform(rotate(45deg));
    		}
			
			i{
				font-size: 35px;
				color: $darkblue_theme;
			}
			
			&:before,
			&:after,
			i{
				@include transition(all .5s ease);
			}
		}
		
		span{
			background: $darkblue_theme;
			display: inline-block;
			padding: .15rem 1.3rem .15rem .4rem;
			position: relative;
			vertical-align: bottom;
		    top: 14px;
	    	left: 18px;
			@include border-radius(3px);
			@include transition(all .5s ease);
		}
	}
}

@import 'queries';
@import 'keyframes';