@import 'fonts';
@import 'variables';
@import 'material';
@import 'functions';

*{ @include reset; }

body,html{ @include init; }

body{
	&.home{
		.navigator_content{
			.navigator{
				ul{
					li{
						a{
							color: #E8EBEC;

							&:before,
							&:after{
								background: $home-primary;
							}
						}

						.edge{
							background: $home-secondary;
						}
					}
				}

				.button_menu{
					border-color: $home-secondary;
					background: $home-alpha;

					> span{
						border-color: $home-secondary;
					}

					&:hover{
						background: $home-secondary;

						> span{
							border-color: $home-primary;
						}
					}
				}
			}
			.logo{
				svg{
					circle{
						fill: $home-primary;
						stroke: $home-secondary;
					}
				}
			}
		}
		#fp-nav{

			ul {
				li {
					a {
						span{
							background: $home-secondary;
							@include transition(all .25s ease);
							@include box-shadow(0 0 3px 1px $home-primary);
						}
					}
				}
			}
		}
	}
	&.projects{
		.navigator_content{
			.navigator{
				ul{
					li{
						a{
							color: #E8EBEC;

							&:before,
							&:after{
								background: $projects-primary;
							}
						}

						.edge{
							background: $projects-secondary;
						}
					}
				}

				.button_menu{
					border-color: $projects-secondary;
					background: $projects-alpha;

					> span{
						border-color: $projects-secondary;
					}

					&:hover{
						background: $projects-secondary;

						> span{
							border-color: $projects-primary;
						}
					}
				}
			}
			.logo{
				svg{
					circle{
						fill: $projects-primary;
						stroke: $projects-secondary;
					}
				}
			}
		}
		#fp-nav{

			ul {
				li {
					a {
						span{
							background: $projects-secondary;
							@include transition(all .25s ease);
							@include box-shadow(0 0 3px 1px $projects-primary);
						}
					}
				}
			}
		}
	}
	&.collaborations{
		.navigator_content{
			.navigator{
				ul{
					li{
						a{
							color: #E8EBEC;

							&:before,
							&:after{
								background: $colaborations-primary;
							}
						}

						.edge{
							background: $colaborations-secondary;
						}
					}
				}

				.button_menu{
					border-color: $colaborations-secondary;
					background: $colaborations-alpha;

					> span{
						border-color: $colaborations-secondary;
					}

					&:hover{
						background: $colaborations-secondary;

						> span{
							border-color: $colaborations-primary;
						}
					}
				}
			}
			.logo{
				svg{
					circle{
						fill: $colaborations-primary;
						stroke: $colaborations-secondary;
					}
				}
			}
		}
		#fp-nav{

			ul {
				li {
					a {
						span{
							background: $colaborations-secondary;
							@include transition(all .25s ease);
							@include box-shadow(0 0 3px 1px $colaborations-primary);
						}
					}
				}
			}
		}
	}
	&.contact{
		.navigator_content{
			.navigator{
				ul{
					li{
						a{
							color: #E8EBEC;

							&:before,
							&:after{
								background: $contact-primary;
							}
						}

						.edge{
							background: $contact-secondary;
						}
					}
				}
				.button_menu{
					border-color: $contact-secondary;
					background: $contact-alpha;

					> span{
						border-color: $contact-secondary;
					}

					&:hover{
						background: $contact-secondary;

						> span{
							border-color: $contact-primary;
						}
					}
				}
			}
			.logo{
				svg{
					circle{
						fill: $contact-primary;
						stroke: $contact-secondary;
					}
				}
			}
		}
		#fp-nav{

			ul {
				li {
					a {
						span{
							background: $contact-secondary;
							@include transition(all .25s ease);
							@include box-shadow(0 0 3px 1px $contact-primary);
						}
					}
				}
			}
		}
	}
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.navigator_content{
	position: fixed;
	padding: 1.35rem 0 0;
	top: 0;
	z-index: 2;
	left: 0;
	width: 100%;
	background: rgba(97, 97, 97, 0.0);
	@include box-shadow(0 1px 4px rgba(0,0,0,0));

	.logo{
		max-width: 55px;
		display: inline-block;
		position: relative;

		&:after{
			content: '';
			width: 50px;
			height: 50px;
			border: solid 3px rgba(255,255,255,.25);
			background: rgba(255,255,255,.15);
			@include center-absolute(absolute);
			top: -8px;
		    left: 3px;
		    z-index: -1;
		    opacity: 0;
			@include border-radius(50%);
			@include transform(scale(0));
			@include transition((opacity .5s ease, transform .3s ease ));
		}

		&:hover{
			&:after{
				@include animation(scale_logo 1.5s 2 .5s ease);
			}

			svg{
				circle{
					@include animation(circle_resort 1s 2 linear);
				}
			}
		}

		&:focus{
			outline: none;

			&:after{
				@include animation(scale_logo 1.5s infinite ease);
			}
		}

		svg{
			width: 55px;
			height: 55px;

			circle{
				fill:#E5E1E1; 
				stroke:#E5E1E1; 
				stroke-width:3px;
				@include transition(all 1s ease);
				@include transform-origin(center);
			}

			text{
				font-size:50px; 
				font-weight:bold;
				fill: #E8EBEC;
				stroke-width:1;
				stroke: transparent;
				font-family: 'Indie Flower', cursive;
				@include transition(all .25s ease);
				@include text-shadow(0 0 2px rgba(0,0,0,.65));

				&:last-child{
					fill: #323232;
				    font-size: 26px;
				    fill: #E8EBEC;
					font-family: 'Pacifico', cursive;
				}
			}
		}
	}

	.navigator{
		float: right;

		> ul{
			list-style: none;

			li{
				display: inline-block;
				position: relative;
				@include border-radius(2px);

				&.active,
				&:focus,
				&:hover{

					.edge{
						&.top,
						&.bottom{
							width: 100%;
						}

						&.left,
						&.right{
							height: 100%;
						}
					}

					a{
						color: #111;
						@include text-shadow(0 0 1px transparent);

						&:after,
						&:before{
							width: 50%;
						}
					}

				}

				&:focus,
				&:hover{
					.submenu{
						z-index: 3;
						opacity: 1;
						@include transform(rotate(0deg));
					}
				}

				a{
					color: white;
					display: block;
					font-weight: bold;
					padding: .5rem;
					font-size: 20px;
    				font-weight: 400;
    				letter-spacing: 1px;
					font-family: 'Yanone Kaffeesatz', sans-serif;
					@include transition((color .5s .45s ease, text-shadow .5s ease));
					@include text-shadow(0 0 1px #111);

					&:after,
					&:before{
						position: absolute;
						top: 0;
						width: 0%;
						height: 100%;
						z-index: -1;
						content: '';
						@include transition(width .5s .4s ease);
					}

					&:after{
						left: 0;
						@include gradient(linear, (right, #fff, #E6E2E2)); 
					}
					&:before{
						right: 0;
						@include gradient(linear, (left, #fff, #E6E2E2)); 
					}

					&:hover,
					&:focus{
						outline: 0;
					}
				}

				.edge{
					position: absolute;
					background: rgba(17, 17, 17, 0.82);
					content: '';
					@include transition((width .13s ease,height .13s ease));

					&.right,
					&.left{
						background: #111;
					}

					&.bottom{
						height: 2px;
						bottom: 0;
						left: 0;
						width: 0;
					}

					&.right{
						bottom: 0;
						right: 0;
						height: 0;
						width: 2px;
						@include transition-delay(.14s);
					}
					&.top{
						top: 0;
						right: 0;
						height: 2px;
						width: 0;
						@include transition-delay(.28s);
					}
					&.left{
						top: 0;
						left: 0;
						height: 0;
						width: 2px;
						@include transition-delay(.30s);
					}
				}

				.submenu{
					position: absolute;
					top: 97%;
					left: 0;
					opacity: 0;
					z-index: -2;
					min-width: 142px;
					overflow: hidden;
					@include transform-origin(top left);
					@include transform(rotate(-90deg));
					@include transition((transform .4s ease, opacity .7s ease));

					ul{
						li{
							display: block;

							a{
								&:after,
								&:before{
									width: 0;
								}
							}

							&:hover{
								a{
									&:after,
									&:before{
										width: 50%;
									}
								}
							}
						}
					}
				}
			}

			.close_menu{
				position: absolute;
				top: 2px;
				right: 5px;
				font-weight: bold;
				display: none;
				color: #E8EBEC;
				@include text-shadow(0 0 2px rgba(0,0,0,.4));
				@include transition(all 1s ease);

				&:hover{
					@include transform(rotate(360deg));
				}
			}
		}

		.button_menu{
			display: inline-block;
		    width: 35px;
		    height: 35px;
		    border: solid 2px white;
		    float: right;
		    display: none;
		    cursor: pointer;
		    @include border-radius(2px);
		    @include transition(border .5s ease);

		    > span{
		    	border-top: solid 2px white;
			    display: block;
			    width: 80%;
			    margin: 6px auto;
			    border-radius: 30%;
			    @include transition(border .5s ease);
		    }
		}
	}
}

.section{
	padding: 0;
}

.loader{
	width: 100vw;
	height: 100vh;
	z-index: 999;
	@include gradient(rAdial, (#fff, #aaa));	
	@include center-absolute(fixed);

	.content_points{
		width: 80px;
		height: 80px;
		@include animation(rotate 5s infinite linear);
		@include center-absolute(fixed);
	}

	.point{
		width: 12px;
		height: 12px;
		background: rgba(255,255,255,.4);
		@include center-absolute(absolute);
		@include border-radius(50%);

		&:before{
			position: absolute;
			width: 5px;
			height: 5px;
			background: rgba(255, 255,255, .2);
			content: '';
			@include center-absolute(absolute);
			@include border-radius(50%);
			@include animation(scale 1s infinite linear);
		}

		&:nth-child(1){
			background: rgba(22, 162, 216, 0.85);
			@include animation(point1 2s linear 0s infinite);
		}
		&:nth-child(2){
			background: rgba(193, 39, 39, 0.85);
			@include animation(point2 2s linear 0s infinite);
		}
		&:nth-child(3){
			background: rgba(214, 127, 53, 0.85);
			@include animation(point3 2s linear 0s infinite);
		}
		&:nth-child(4){
			background: rgba(69, 208, 35, 0.85);
			@include animation(point4 2s linear 0s infinite);
		}
		&:nth-child(5){

			&:before{
				display: none;
			}
		}
	}
}

.project{
	position: relative;
	width: 100vw;
	height: 100vh;
	text-align: center;

	.title{
		height: 70px;
		display: inline-block;
		@include center-absolute(absolute);
		
		a{
			font-size: 50px;
			color: white;
			font-family: 'Pacifico';
			@include transition(all .5s ease);
			@include text-3d;

			i{
				@include text-shadow((
					1px -1px 1px $text-3d-color,
					2px -2px 1px $text-3d-color,
					3px -3px 1px $text-3d-color,
				));

				&:focus,
				&:hover{
					@include animation(text3D 3s infinite linear); 
				}
			}
		}
	}

	img{
		max-width: 200px;
	}
}

#fp-nav{ 
    top: 90%;

	ul {
		li {
			a {
				span{
					background: white;
					@include transition(all .5s ease);
					@include box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.68));
				}
			}
		}
	}
}

.fp-controlArrow{
	@include transition(border .5s ease);

	&.fp-next {
    	border-color: transparent transparent transparent rgba(255, 255, 255, 0.2);
    	right: 4px;

    	&:hover{
    		border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
    	}
    }
    &.fp-prev {
	    border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent;
	    left: 4px;

	    &:hover{
	    	border-color: transparent rgba(255, 255, 255, 0.8) transparent transparent;
	    }
	}
}

@import 'queries';
@import 'keyframes';