@import 'fonts';
@import 'variables';
@import 'material';
@import 'functions';

*{ @include reset; }

body,html{ @include init; }

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

header{
	text-align: center;
	
	.logo{
		display: inline-block;
		margin-top: .35rem;
		position: relative;
	    width: 305px;
    	height: 480px;
		
		img{
			position: absolute;
		}
		
		.circle{
			right: 0;
			left: 24px;
			top: 60px;
			margin: auto;
		}
		
		.side-left,
		.side-right{
			top: 0;
		}
		
		.side-left{
			left: 0;
		}
		
		.ray{
			top: 0;
			left: 16px;
			right: 0;
			margin: auto;
		}
		
		.slogan{
			bottom: 0;
			left: -19px;
		}
		
		.name{
			bottom: 70px;
			left: -50px;
		}
	}
}

@import 'queries';
@import 'keyframes';