// Point 1 animation
@-webkit-keyframes point1{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(-3px, -10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(-6px, -20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(-10px, -20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(-10px, -10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(-8px, -5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}
@-moz-keyframes point1{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(-3px, -10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(-6px, -20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(-10px, -20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(-10px, -10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(-8px, -5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}
@keyframes point1{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(-3px, -10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(-6px, -20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(-10px, -20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(-10px, -10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(-8px, -5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}

// Point 2 animation
@-webkit-keyframes point2{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(3px, 10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(6px, 20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(10px, 20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(10px, 10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(8px, 5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}
@-moz-keyframes point2{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(3px, 10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(6px, 20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(10px, 20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(10px, 10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(8px, 5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}
@keyframes point2{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(3px, 10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(6px, 20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(10px, 20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(10px, 10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(8px, 5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}

// Point 3 animation
@-webkit-keyframes point3{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(3px, -10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(6px, -20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(10px, -20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(10px, -10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(8px, -5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}
@-moz-keyframes point3{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(3px, -10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(6px, -20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(10px, -20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(10px, -10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(8px, -5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}
@keyframes point3{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(3px, -10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(6px, -20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(10px, -20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(10px, -10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(8px, -5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}

// Point 4 animation
@-webkit-keyframes point4{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(-3px, 10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(-6px, 20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(-10px, 20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(-10px, 10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(-8px, 5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}
@-moz-keyframes point4{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(-3px, 10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(-6px, 20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(-10px, 20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(-10px, 10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(-8px, 5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}
@keyframes point4{
	0%{@include transform(translate3d(0,0,0) rotate(0));}
	0%, 100%, 49.8%{ @include transform(translate3d(0, 0, 0)); }
	8.3%, 91.2%{ @include transform(translate3d(-3px, 10px, 0)); }
	16.6%, 82.9%{ @include transform(translate3d(-6px, 20px, 0)); }
	29.9%, 74.69%{ @include transform(translate3d(-10px, 20px, 0)); }
	33.2%, 66.3%{ @include transform(translate3d(-10px, 10px, 0));	}
	41.5%, 58%{ @include transform(translate3d(-8px, 5px, 0));	}
	50%{@include transform(translate3d(0,0,0) rotate(360deg));}
}

// Point Content animation
@-webkit-keyframes rotate{
	from{@include transform(rotate(0deg));}
	to{@include transform(rotate(360deg));}
}
@-moz-keyframes rotate{
	from{@include transform(rotate(0deg));}
	to{@include transform(rotate(360deg));}
}
@keyframes rotate{
	from{@include transform(rotate(0deg));}
	to{@include transform(rotate(360deg));}
}

// animation scale
@-webkit-keyframes scale{
	from{@include transform(scale(.5)); opacity: 0;}
	to{@include transform(scale(3));opacity: 1;}
}
@-moz-keyframes scale{
	from{@include transform(scale(.5)); opacity: 0;}
	to{@include transform(scale(3));opacity: 1;}
}
@keyframes scale{
	from{@include transform(scale(.5)); opacity: 0;}
	to{@include transform(scale(3));opacity: 1;}
}

// animation scale logo
@-webkit-keyframes scale_logo{
	0%{@include transform(scale(0)); opacity: 0;}
	50%{@include transform(scale(1.3));opacity: 1;}
	70%{@include transform(scale(1.3));opacity: .5;}
	100%{@include transform(scale(1.3));opacity: 0;}
}
@-moz-keyframes scale_logo{
	0%{@include transform(scale(0)); opacity: 0;}
	50%{@include transform(scale(1.3));opacity: 1;}
	70%{@include transform(scale(1.3));opacity: .5;}
	100%{@include transform(scale(1.3));opacity: 0;}
}
@keyframes scale_logo{
	0%{@include transform(scale(0)); opacity: 0;}
	50%{@include transform(scale(1.3));opacity: 1;}
	70%{@include transform(scale(1.3));opacity: .5;}
	100%{@include transform(scale(1.3));opacity: 0;}
}

// animation text 3d
@-webkit-keyframes text3D{
	0%,100%{
		@include text-shadow((
			1px -1px 1px $text-3d-color,
			2px -2px 1px $text-3d-color,
			3px -3px 1px $text-3d-color,
		));
	}
	25%{
		@include text-shadow((
			1px 1px 1px $text-3d-color,
			2px 2px 1px $text-3d-color,
			3px 3px 1px $text-3d-color,
		));
	}
	50%{
		@include text-shadow((
			-1px 1px 1px $text-3d-color,
			-2px 2px 1px $text-3d-color,
			-3px 3px 1px $text-3d-color,
		));
	}
	75%{
		@include text-shadow((
			-1px -1px 1px $text-3d-color,
			-2px -2px 1px $text-3d-color,
			-3px -3px 1px $text-3d-color,
		));
	}
}
@-moz-keyframes text3D{
	0%,100%{
		@include text-shadow((
			1px -1px 1px $text-3d-color,
			2px -2px 1px $text-3d-color,
			3px -3px 1px $text-3d-color,
		));
	}
	25%{
		@include text-shadow((
			1px 1px 1px $text-3d-color,
			2px 2px 1px $text-3d-color,
			3px 3px 1px $text-3d-color,
		));
	}
	50%{
		@include text-shadow((
			-1px 1px 1px $text-3d-color,
			-2px 2px 1px $text-3d-color,
			-3px 3px 1px $text-3d-color,
		));
	}
	75%{
		@include text-shadow((
			-1px -1px 1px $text-3d-color,
			-2px -2px 1px $text-3d-color,
			-3px -3px 1px $text-3d-color,
		));
	}
}
@keyframes text3D{
	0%,100%{
		@include text-shadow((
			1px -1px 1px $text-3d-color,
			2px -2px 1px $text-3d-color,
			3px -3px 1px $text-3d-color,
		));
	}
	25%{
		@include text-shadow((
			1px 1px 1px $text-3d-color,
			2px 2px 1px $text-3d-color,
			3px 3px 1px $text-3d-color,
		));
	}
	50%{
		@include text-shadow((
			-1px 1px 1px $text-3d-color,
			-2px 2px 1px $text-3d-color,
			-3px 3px 1px $text-3d-color,
		));
	}
	75%{
		@include text-shadow((
			-1px -1px 1px $text-3d-color,
			-2px -2px 1px $text-3d-color,
			-3px -3px 1px $text-3d-color,
		));
	}
}

// animation resort
@-webkit-keyframes circle_resort{
	0%, 100%{
		@include transform(scale(1));
	}
	20%{
		@include transform(scale(.2));
	}
	30%{
		@include transform(scale(.3));
	}
	50%{
		@include transform(scale(1));
	}
	70%{
		@include transform(scale(.5));
	}
}
@-moz-keyframes circle_resort{
	0%, 100%{
		@include transform(scale(1));
	}
	20%{
		@include transform(scale(.2));
	}
	30%{
		@include transform(scale(.3));
	}
	50%{
		@include transform(scale(1));
	}
	70%{
		@include transform(scale(.5));
	}
}
@keyframes circle_resort{
	0%, 100%{
		@include transform(scale(1));
	}
	20%{
		@include transform(scale(.2));
	}
	30%{
		@include transform(scale(.3));
	}
	50%{
		@include transform(scale(1));
	}
	70%{
		@include transform(scale(.5));
	}
}