@media (max-width: 980px){
	body{
		&.home{
			.navigator_content{
				.navigator{
					ul{
						background: $home-alpha;
						@include box-shadow(-1px 0 5px $home-primary);
					}
				}
			}
		}
		&.projects{
			.navigator_content{
				.navigator{
					ul{
						background: $projects-alpha;
						@include box-shadow(-1px 0 5px $projects-primary);
					}
				}
			}
		}
		&.collaborations{
			.navigator_content{
				.navigator{
					ul{
						background: $colaborations-alpha;
						@include box-shadow(-1px 0 5px $colaborations-primary);
					}
				}
			}
		}
		&.contact{
			.navigator_content{
				.navigator{
					ul{
						background: $contact-alpha;
						@include box-shadow(-1px 0 5px $contact-primary);
					}
				}
			}
		}
	}

	.navigator_content {
		.navigator {
			> ul{
				position: fixed;
				height: 100vh;
				right: 0;
				top: 0;
				padding: 1.5rem .25rem;
				z-index: -1;
				@include transition(transform .79s ease);
				@include transform(translate3d(500%, 0 , 0));

				&.open{
					z-index: 10;
					@include transform(translate3d(0, 0 , 0));
				}

				.close_menu{
					display: block;
					cursor: pointer;
				}
				
				li{
					display: block;
					margin: .15rem 0;


					a{
						padding: .5rem 1.2rem;
					}

					.submenu{
						top: 0;
						left: initial;
						right: 105%;
						min-width: 165px;
						@include transform-origin(top right);
						@include transform(rotate(90deg));
					}
				}
			}

			.button_menu{
				display: block;
			}
		}
	}
}

@media (max-width: 500px){
	.project{
		.title{
			a{
				font-size: 37px;
			}
		}
	}	

	.fp-controlArrow{

		&.fp-next {
    	    border-width: 28.5px 0 28.5px 24px;
	    }
	    &.fp-prev {
		        border-width: 28.5px 24px 28.5px 0;
		}
	}
}
@media (max-width: 400px){
	#fp-nav{ 
    	display: none;
	}
	.navigator_content {
		.navigator {
			> ul{				
				li{
					.submenu{
						&.hide-mobile{
							display: none;
						}
					}
				}
			}
		}
	}
}