$text-3d-color: #323232;
$text-3d-color-hover: #111;

$home-primary: #6AB5D4;
$home-secondary: #4C9CBD;
$home-alpha: rgba(106, 181, 212, 0.72);

$projects-primary: #309034;
$projects-secondary: #27822B;
$projects-alpha: rgba(48,144,52,0.72);

$colaborations-primary: #04756A;
$colaborations-secondary: #026D63;
$colaborations-alpha: rgba(4,117,106,0.72);

$contact-primary: #C16E25;
$contact-secondary: #B3631D; 
$contact-alpha: rgba(193, 110, 37, 0.71); 